<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471400253698-op18bccvdgg72utmjg1u9eof3maem59n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471400253698-op18bccvdgg72utmjg1u9eof3maem59n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>471400253698-6k9ouub3o5efgm45nqaa1dup5ll7plh1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJRmupGDbL087DsoL57zbaOfdGLfqAmyE</string>
	<key>GCM_SENDER_ID</key>
	<string>471400253698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softwareDevelopment</string>
	<key>PROJECT_ID</key>
	<string>software-development-757f3</string>
	<key>STORAGE_BUCKET</key>
	<string>software-development-757f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471400253698:ios:5c31630cc1ab0bd0239a1b</string>
	<key>DATABASE_URL</key>
	<string>https://software-development-757f3.firebaseio.com</string>
</dict>
</plist>